body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  min-width: fit-content;
  min-height: 100vh;
}

.header.link,
a,
ul {
  text-decoration: none;
  list-style: none;
  padding: 0px;
  color: #e5e7eb;
}

h1 {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
  margin: 0px;
}

h3 {
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
  display: flex;
  text-align: center;
  height: 60px;
  justify-content: center;
  align-items: center;
}

.header.link,
.welcome.info {
  font-size: 18px;
  color: #e5e7eb;
}

.header.logo {
  font-size: 24px;
  color: #f9faf8;
  padding: 0px;
}

.header {
  padding: 0px 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  background-color: #1f2937;
}

.hero.banner {
  min-height: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  padding: 80px 140px;
  background-color: #1f2937;
}

.welcome {
  display: flex;
  flex-direction: column;
  max-width: 700px;
}

.btn {
  width: fit-content;
  height: fit-content;
  background-color: #3882f6;
  font-size: 16px;
  font-weight: 700;
  color: white;
  padding: 4px 8px;
  border-style: none;
  border-radius: 0.5em;
}

.content.image {
  display: flex;
  flex-direction: row;
  padding: 0px 140px;
  padding-bottom: 60px;
  gap: 16px;
}

.content .info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info .subtext {
  text-align: center;
  padding: 0;
}
.quote {
  display: flex;
  flex-direction: column;
  padding: 0px 200px;
  font-size: 36px;
  color: #1f2937;
  background-color: #e5e7eb;
  margin: 14px 0px;
}
.quote.text {
  padding: 0px;
  font-weight: 100;
  margin-top: 80px;
}
.quote.author {
  align-self: flex-end;
  padding: 0px;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 80px;
}
footer {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #f9faf8;
  background-color: #1f2937;
}

footer a {
  font-weight: bold;
  color: #c9a65e;
}
